<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shared.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <title>Document</title>
</head>

<body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    let socket = io();
    socket.on('connect', function () {
      console.log('conectô')
    });
    socket.on('infoUpdated', function (data) {
      let tempLabel = document.getElementById('temp-label');
      tempLabel.textContent = data.currentTemperature + '°';

      let humidityLabel = document.getElementById('humidity');
      humidityLabel.textContent = data.currentHumidity + '%';
    });
  </script>
  <script type="text/javascript" charset="utf-8">
    function startIrrigation() {
      document.getElementById('irrigation-label').textContent = 'Irrigação iniciada. Por favor, aguarde...';
      document.getElementById('dashboard').style.display = 'none';
      document.getElementById('irrigation').style.display = 'flex';
      fetch('http://localhost:5005/api/start_irrigation');
      setTimeout(() => {
        document.getElementById('irrigation-label').textContent = 'Irrigação concluída!';
        setTimeout(() => {
          document.getElementById('irrigation').style.display = 'none';
          document.getElementById('dashboard').style.display = 'flex';
          fetch('http://localhost:5005/api/end_irrigation');
        }, 2000)
      }, 10000);
    }

    function endCycle() {
      fetch('http://localhost:5005/api/end_planting')
        .then((response) => {
          window.location.href = '{{ url_for( 'interface.home' ) }}';
        });
    }
  </script>
  <section class="container" id="dashboard">
    <div class="cards">
      <div class="card">
        <img src="{{ url_for('static', filename='thermometer.png') }}" alt="thermo_logo">
        <div>
          <h4>Temperatura</h4>
          <h2 id="temp-label">{{ data.currentTemperature + "°" }}</h2>
        </div>
      </div>
      <div class="btn-card">
        <div class="btn-card-info btn-card-info--light">
          <img src="{{ url_for('static', filename='sunny.png') }}" alt="sunny">
          <div>
            <h6>Tempo de exposição à luz</h6>
            <h2 id="light-time">3h 22m</h2>
          </div>
        </div>
        <button>Alternar Iluminação</button>
      </div>
      <div class="btn-card">
        <div class="btn-card-info">
          <img src="{{ url_for('static', filename='water.png') }}" alt="water">
          <div>
            <h4>Umidade</h4>
            <h2 id="humidity">{{ data.currentHumidity + "%" }}</h2>
          </div>
        </div>
        <button onclick="startIrrigation();" type="button">Irrigar agora</button>
      </div>
      <div class="buttons-wrapper">
        <button type="button" class="btn-start btn-pairing">
          Parear Dispositivo
        </button>
        <button onclick="endCycle();" type="button" class="btn-start btn-pairing">
          Encerrar Ciclo
        </button>
      </div>
    </div>
  </section>
  <section class="container" id="irrigation" style="display: none;">
    <div class="irrigation-info">
      <img src="{{ url_for('static', filename='water.png') }}" alt="water">
      <div>
        <h3 id="irrigation-label"></h3>
      </div>
    </div>
  </section>
</body>

</html>