<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shared.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <title>Document</title>
</head>

<body>
  <section class="container">
    <div class="cards">
      <div class="card">
        <img src="{{ url_for('static', filename='thermometer.png') }}" alt="thermo_logo">
        <div>
          <h4>Temperatura</h4>
          <h2>25º</h2>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='sunny.png') }}" alt="sunny">
        <div>
          <h6>Tempo de exposição à luz</h6>
          <h2>3h 22m</h2>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='water.png') }}" alt="water">
        <div>
          <h4>Umidade</h4>
          <h2>30%</h2>
        </div>
      </div>
    </div>
    <div class="buttons-wrapper">
      <button type="button" class="btn-start btn-pairing">
        Parear Dispositivo
      </button>
      <button type="button" class="btn-start">
        Irrigar Agora
      </button>
    </div>
  </section>
</body>

</html>